@import "tailwindcss";
@import "@cortex/core-ui/theme.css";
@source "../../../../packages/core-ui/src/**/*.{ts,tsx}";

html,
body,
#root {
	height: 100%;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-size: 13px;
	line-height: 1.4;
}
